[data-blk="hero-section-hero-14"] *,[data-blk="hero-section-hero-14"] *::after,[data-blk="hero-section-hero-14"] *::before{
	box-sizing: border-box;
}[data-blk="hero-section-hero-14"]{
	font-size: 12px;
	--color-text: #292828;
	--color-bg: #ddd;
	--color-link: #000;
	--color-link-hover: #000;
	--page-padding: 1rem;
	--angle: -15deg;
	--trans-content: -30vh;
}[data-blk="hero-section-hero-14"]{
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: new-science-mono, sans-serif;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}[data-blk="hero-section-hero-14"] .noscroll{
	height: 100dvh;
	width: 100%;
	overflow: hidden;
	position: fixed;
  top: 0;
}[data-blk="hero-section-hero-14"] /* Page Loader */
.js .loading::before,[data-blk="hero-section-hero-14"] .js .loading::after{
	content: '';
	position: fixed;
	z-index: 1000;
}[data-blk="hero-section-hero-14"] .js .loading::before{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}[data-blk="hero-section-hero-14"] .js .loading::after{
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}[data-blk="hero-section-hero-14"] a{
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}[data-blk="hero-section-hero-14"] a:hover{
	text-decoration: underline;
	color: var(--color-link-hover);
	outline: none;
}[data-blk="hero-section-hero-14"] /* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus{
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}[data-blk="hero-section-hero-14"] a:focus:not(:focus-visible){
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}[data-blk="hero-section-hero-14"] a:focus-visible{
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}[data-blk="hero-section-hero-14"] .unbutton{
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}[data-blk="hero-section-hero-14"] .unbutton:focus{
	outline: none;
}[data-blk="hero-section-hero-14"] .frame{
	font-size: 12px;
	color: #e3b774;
	padding: var(--page-padding);
	display: grid;
	z-index: 1000;
	grid-row-gap: 1rem;
	grid-column-gap: 2rem;
	pointer-events: none;
	justify-items: start;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: 'title' 'sponsor';
	transition: opacity 0.3s;
}[data-blk="hero-section-hero-14"] .hidden{
	opacity: 0;
	pointer-events: none;
}[data-blk="hero-section-hero-14"] .frame #cdawrap{
  justify-self: end;
	max-width: 300px;
	text-align: right;
}[data-blk="hero-section-hero-14"] .frame a{
  pointer-events: auto;
  color: #fff;
}[data-blk="hero-section-hero-14"] .frame a:focus,[data-blk="hero-section-hero-14"] .frame a:hover{
	color: #fff;
}[data-blk="hero-section-hero-14"] .frame__title{
  grid-area: title;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 400;
  font-family: "new-science", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}[data-blk="hero-section-hero-14"] .intro{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
}[data-blk="hero-section-hero-14"] .intro::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(assets/noise.png), radial-gradient(circle, #f9a13275 0%, transparent 100%);
  background-size: 250px, 100%;
  pointer-events: none;
}[data-blk="hero-section-hero-14"] .intro--open{
	height: 80vh;
}[data-blk="hero-section-hero-14"] .grid{
	gap: 1rem;
	flex: none;
	position: relative;
	width: 200vw;
	height: 200vh;
	display: grid;
	grid-template-rows: repeat(5,1fr);
	grid-template-columns: 100%;
	transform: rotate(var(--angle));
  transform-origin: center center;
}[data-blk="hero-section-hero-14"] .row{
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(7,1fr);
  will-change: transform, filter;
}[data-blk="hero-section-hero-14"] .row__item{
	position: relative;
}[data-blk="hero-section-hero-14"] .row__item-inner{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 10px;
}[data-blk="hero-section-hero-14"] .row__item-img{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
}[data-blk="hero-section-hero-14"] .row__item-img--large{
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	margin: -50vh 0 0 -50vw;
	background-position: 50% 70%;
	will-change: transform, filter;
}[data-blk="hero-section-hero-14"] .enter{
	color: rgba(0,0,0,0.8);
	position: absolute;
	text-transform: uppercase;
	padding: 1.75rem 4rem;
	font-weight: 700;
	z-index: 100;
	font-family: "new-science", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 1.15rem;
	background: url(assets/noise.png), radial-gradient(circle, #f9a13275 0%, transparent 100%);
	background-size: 250px, 100%;
	transition: all 0.3s;
	cursor: pointer;
}[data-blk="hero-section-hero-14"] .enter::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 1px solid rgba(0,0,0,0.8);
	border-radius: 3rem;
	transition: all 0.3s;
	z-index: -1;

}[data-blk="hero-section-hero-14"] .enter:focus::before,[data-blk="hero-section-hero-14"] .enter:hover::before{
	background-color: rgba(0,0,0,0.2);
}[data-blk="hero-section-hero-14"] .fullview{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}[data-blk="hero-section-hero-14"] .fullview .row__item-inner{
	border-radius: 0px;
}[data-blk="hero-section-hero-14"] .content{
	padding: var(--page-padding);
	position: relative;
}[data-blk="hero-section-hero-14"] .content::before{
	content: '';
	position: absolute;
	border-radius: 10px 10px 0 0;
	height: calc(100% + (-1) * var(--trans-content));
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	background: url(assets/noise.png), radial-gradient(at top, #f9a132 0%, #ddd 100%);
  background-size: 250px, 100%;
}[data-blk="hero-section-hero-14"] .content > *{
	position: relative;
}[data-blk="hero-section-hero-14"] .content__nav{
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
}[data-blk="hero-section-hero-14"] .content__header h2{
	font-size: 2rem;
	font-family: new-science-extended, sans-serif;
	font-weight: 400;
	margin: 6rem 0 10vh;
	line-height: 0.9;
}[data-blk="hero-section-hero-14"] .content__text{
	text-wrap: balance;
	display: flex;
	flex-direction: column;
	gap: 10vh;
	padding: 0 5vw;
}[data-blk="hero-section-hero-14"] .content__text p{
	max-width: 700px;
	font-size: 1.5rem;
	line-height: 1.4;
	margin: 0;
	margin-left: auto;
}[data-blk="hero-section-hero-14"] .content__text p.highlight{
	max-width: 1000px;
	font-size: 2rem;
	font-family: new-science-extended, sans-serif;
	font-weight: 400;
}[data-blk="hero-section-hero-14"] .content__footer{
	display: flex;
	justify-content: space-between;
	margin-top: 20vh;
	transform: translateY(calc(-1 * var(--trans-content)));
}@media screen and (min-width: 53em) {[data-blk="hero-section-hero-14"]{
		--page-padding: 2rem 3rem;
	}[data-blk="hero-section-hero-14"] .frame{
		grid-template-columns: auto 1fr;
		grid-template-areas: 'title sponsor';
		align-content: space-between;
	}[data-blk="hero-section-hero-14"] .content__header h2{
		font-size: clamp(2rem,20vh,16rem);
	}[data-blk="hero-section-hero-14"] .content__text p.highlight{
		font-size: clamp(2rem,7vh,4rem);
	}
}
