[data-dobra="hero-grade"] *,[data-dobra="hero-grade"] *::after,[data-dobra="hero-grade"] *::before{
	box-sizing: border-box;
}
[data-dobra="hero-grade"]{
	font-size: 12px;
	--color-text: var(--base-500);
	--color-bg: var(--base-100);
	--color-link: var(--base-600);
	--color-link-hover: var(--base-600);
	--page-padding: 1rem;
	--angle: -15deg;
	--trans-content: -30vh;
}
[data-dobra="hero-grade"]{
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: var(--fonte-mono);
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[data-dobra="hero-grade"] .noscroll{
	height: 100dvh;
	width: 100%;
	overflow: hidden;
	position: fixed;
  top: 0;
}
[data-dobra="hero-grade"] .js .loading::before,[data-dobra="hero-grade"] .js .loading::after{
	content: '';
	position: fixed;
	z-index: 1000;
}
[data-dobra="hero-grade"] .js .loading::before{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}
[data-dobra="hero-grade"] .js .loading::after{
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}
@keyframes loaderAnim{
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}
[data-dobra="hero-grade"] a{
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}
[data-dobra="hero-grade"] a:hover{
	text-decoration: underline;
	color: var(--color-link-hover);
	outline: none;
}
[data-dobra="hero-grade"] a:focus{
	
	outline: none;
	background: lightgrey;
}
[data-dobra="hero-grade"] a:focus:not(:focus-visible){
	
	background: transparent;
}
[data-dobra="hero-grade"] a:focus-visible{
	
	outline: 2px solid red;
	background: transparent;
}
[data-dobra="hero-grade"] .unbutton{
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}
[data-dobra="hero-grade"] .unbutton:focus{
	outline: none;
}
[data-dobra="hero-grade"] .frame{
	font-size: 12px;
	color: var(--base-200);
	padding: var(--page-padding);
	display: grid;
	z-index: 1000;
	grid-row-gap: 1rem;
	grid-column-gap: 2rem;
	pointer-events: none;
	justify-items: start;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: 'title' 'sponsor';
	transition: opacity 0.3s;
}
[data-dobra="hero-grade"] .hidden{
	opacity: 0;
	pointer-events: none;
}
[data-dobra="hero-grade"] .frame #cdawrap{
  justify-self: end;
	max-width: 300px;
	text-align: right;
}
[data-dobra="hero-grade"] .frame a{
  pointer-events: auto;
  color: var(--base-100);
}
[data-dobra="hero-grade"] .frame a:focus,[data-dobra="hero-grade"] .frame a:hover{
	color: var(--base-100);
}
[data-dobra="hero-grade"] .frame__title{
  grid-area: title;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 400;
  font-family: var(--fonte-corpo);
}
[data-dobra="hero-grade"] .intro{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--base-600);
}
[data-dobra="hero-grade"] .intro::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/noise.png), radial-gradient(circle, var(--acento) 0%, transparent 100%);
  background-size: 250px, 100%;
  pointer-events: none;
}
[data-dobra="hero-grade"] .intro--open{
	height: 80vh;
}
[data-dobra="hero-grade"] .grid{
	gap: 1rem;
	flex: none;
	position: relative;
	width: 200vw;
	height: 200vh;
	display: grid;
	grid-template-rows: repeat(5,1fr);
	grid-template-columns: 100%;
	transform: rotate(var(--angle));
  transform-origin: center center;
}
[data-dobra="hero-grade"] .row{
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(7,1fr);
  will-change: transform, filter;
}
[data-dobra="hero-grade"] .row__item{
	position: relative;
}
[data-dobra="hero-grade"] .row__item-inner{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 10px;
}
[data-dobra="hero-grade"] .row__item-img{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
}
[data-dobra="hero-grade"] .row__item-img--large{
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	margin: -50vh 0 0 -50vw;
	background-position: 50% 70%;
	will-change: transform, filter;
}
[data-dobra="hero-grade"] .enter{
	color: rgba(0,0,0,0.8);
	position: absolute;
	text-transform: uppercase;
	padding: 1.75rem 4rem;
	font-weight: 700;
	z-index: 100;
	font-family: var(--fonte-corpo);
	font-weight: 700;
	font-size: 1.15rem;
	background: url(../img/noise.png), radial-gradient(circle, var(--acento) 0%, transparent 100%);
	background-size: 250px, 100%;
	transition: all 0.3s;
	cursor: pointer;
}
[data-dobra="hero-grade"] .enter::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 1px solid rgba(0,0,0,0.8);
	border-radius: 3rem;
	transition: all 0.3s;
	z-index: -1;

}
[data-dobra="hero-grade"] .enter:focus::before,[data-dobra="hero-grade"] .enter:hover::before{
	background-color: rgba(0,0,0,0.2);
}
[data-dobra="hero-grade"] .fullview{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}
[data-dobra="hero-grade"] .fullview .row__item-inner{
	border-radius: 0px;
}
[data-dobra="hero-grade"] .content{
	padding: var(--page-padding);
	position: relative;
}
[data-dobra="hero-grade"] .content::before{
	content: '';
	position: absolute;
	border-radius: 10px 10px 0 0;
	height: calc(100% + (-1) * var(--trans-content));
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	background: url(../img/noise.png), radial-gradient(at top, var(--base-200) 0%, var(--base-100) 100%);
  background-size: 250px, 100%;
}
[data-dobra="hero-grade"] .content > *{
	position: relative;
}
[data-dobra="hero-grade"] .content__nav{
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
}
[data-dobra="hero-grade"] .content__header h2{
	font-size: 2rem;
	font-family: var(--fonte-corpo);
	font-weight: 400;
	margin: 6rem 0 10vh;
	line-height: 0.9;
}
[data-dobra="hero-grade"] .content__text{
	text-wrap: balance;
	display: flex;
	flex-direction: column;
	gap: 10vh;
	padding: 0 5vw;
}
[data-dobra="hero-grade"] .content__text p{
	max-width: 700px;
	font-size: 1.5rem;
	line-height: 1.4;
	margin: 0;
	margin-left: auto;
}
[data-dobra="hero-grade"] .content__text p.highlight{
	max-width: 1000px;
	font-size: 2rem;
	font-family: var(--fonte-corpo);
	font-weight: 400;
}
[data-dobra="hero-grade"] .content__footer{
	display: flex;
	justify-content: space-between;
	margin-top: 20vh;
	transform: translateY(calc(-1 * var(--trans-content)));
}
@media screen and (min-width: 53em){[data-dobra="hero-grade"]{
		--page-padding: 2rem 3rem;
	}
[data-dobra="hero-grade"] .frame{
		grid-template-columns: auto 1fr;
		grid-template-areas: 'title sponsor';
		align-content: space-between;
	}
[data-dobra="hero-grade"] .content__header h2{
		font-size: clamp(2rem,20vh,16rem);
	}
[data-dobra="hero-grade"] .content__text p.highlight{
		font-size: clamp(2rem,7vh,4rem);
	}

}


