[data-blk="carrossel-3d-carousel-with-scroll"]{
            margin: 0;
            background-color: #000;
        }[data-blk="carrossel-3d-carousel-with-scroll"] div{
            position: absolute;
            user-select: none;
        }[data-blk="carrossel-3d-carousel-with-scroll"] #container{
            position: fixed;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }[data-blk="carrossel-3d-carousel-with-scroll"] #scrollDist{
            top: 0;
            width: 100%;  
            height: 400%; /* Define a altura para permitir o scroll */
        }
    
