[data-dobra="transicao-transicao-pagina-17"] *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
[data-dobra="transicao-transicao-pagina-17"]{
  background: var(--base-100);
}
[data-dobra="transicao-transicao-pagina-17"] .slider{
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  touch-action: none;
  cursor: grab;
}
[data-dobra="transicao-transicao-pagina-17"] .slider:active{
  cursor: grabbing;
}
[data-dobra="transicao-transicao-pagina-17"] .slide{
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  will-change: transform, width, height;
}
[data-dobra="transicao-transicao-pagina-17"] .slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}
[data-dobra="transicao-transicao-pagina-17"] .slider-header{
  position: absolute;
  top: 3rem;
  left: 3rem;
}
[data-dobra="transicao-transicao-pagina-17"] .slider-header h1{
  width: 50%;
  font-family: var(--fonte-corpo);
  font-size: clamp(3rem, 5vw, 7rem);
  font-weight: 500;
  letter-spacing: -2%;
  line-height: 1;
}


