[data-dobra="destaque-txt-animacao-texto-11"] *{
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
[data-dobra="destaque-txt-animacao-texto-11"] *,[data-dobra="destaque-txt-animacao-texto-11"] *::before,[data-dobra="destaque-txt-animacao-texto-11"] *::after{
	box-sizing: border-box;
}
[data-dobra="destaque-txt-animacao-texto-11"] *::before,[data-dobra="destaque-txt-animacao-texto-11"] *::after{
	display: inline-block;
}
[data-dobra="destaque-txt-animacao-texto-11"],[data-dobra="destaque-txt-animacao-texto-11"]{
	height: 100%;
}
[data-dobra="destaque-txt-animacao-texto-11"]{
  min-width: 20rem;
  font-family: var(--fonte-corpo);
  font-size: 1rem;
}
[data-dobra="destaque-txt-animacao-texto-11"]{
  overflow-x: hidden;
}
[data-dobra="destaque-txt-animacao-texto-11"] section{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  overflow: hidden;
}
[data-dobra="destaque-txt-animacao-texto-11"] .intro,[data-dobra="destaque-txt-animacao-texto-11"] .outro{
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-dobra="destaque-txt-animacao-texto-11"] .intro{
  background-color: var(--base-100);
  color: var(--base-600);
}
[data-dobra="destaque-txt-animacao-texto-11"] nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[data-dobra="destaque-txt-animacao-texto-11"] nav p{
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  border-radius: 1.25rem;
  background-color: var(--base-600);
  color: var(--base-100);
}
[data-dobra="destaque-txt-animacao-texto-11"] .sticky{
  background-color: var(--base-600);
}
[data-dobra="destaque-txt-animacao-texto-11"] .sticky p{
  color: var(--base-600);
}
[data-dobra="destaque-txt-animacao-texto-11"] .char{
  display: inline-block;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

