[data-dobra="destaque-anim-hover-3"]{
  background-color: var(--color-neutral-900, var(--base-600));
  color: var(--color-light, var(--base-100));
  font-size: 1vw;
  margin: 0;
  cursor: auto;
}
[data-dobra="destaque-anim-hover-3"] a,[data-dobra="destaque-anim-hover-3"] button,[data-dobra="destaque-anim-hover-3"] .pixelated-image-card{
  cursor: pointer;
}
[data-dobra="destaque-anim-hover-3"] .cloneable{
  padding: var(--container-padding, 2rem);
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
  position: relative;
}
[data-dobra="destaque-anim-hover-3"] .pixelated-image-card{
  background-color: var(--color-neutral-800, var(--base-600));
  color: var(--color-primary, var(--base-100));
  border-radius: .5em;
  width: 30vw;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
[data-dobra="destaque-anim-hover-3"] .before__100{
  padding-top: 100%;
}
[data-dobra="destaque-anim-hover-3"] .pixelated-image-card__default,[data-dobra="destaque-anim-hover-3"] .pixelated-image-card__img,[data-dobra="destaque-anim-hover-3"] .pixelated-image-card__active,[data-dobra="destaque-anim-hover-3"] .pixelated-image-card__pixels{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
[data-dobra="destaque-anim-hover-3"] .pixelated-image-card__img{
  object-fit: cover;
}
[data-dobra="destaque-anim-hover-3"] .pixelated-image-card__active{
  display: none;
}
[data-dobra="destaque-anim-hover-3"] .pixelated-image-card__pixel{
  background-color: currentColor;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}
@font-face{
  font-family: var(--fonte-corpo);
  src: url('https://cdn.prod.website-files.com/6819ed8312518f61b84824df/6819ed8312518f61b84825ba_PPNeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
[data-dobra="destaque-anim-hover-3"]{
  font-family: var(--fonte-corpo);
}
@media (max-width: 991px){[data-dobra="destaque-anim-hover-3"]{
    font-size: 16px;
  }
[data-dobra="destaque-anim-hover-3"] .pixelated-image-card{
    width: min(84vw, 420px);
  }

}


