[data-dobra="destaque-scroll-7"],[data-dobra="destaque-scroll-7"]{ margin: 0; }
[data-dobra="destaque-scroll-7"]{
  background: black;
  overflow-x: hidden;  
}
[data-dobra="destaque-scroll-7"] section{
  margin: 40vh 20%;
  width: 60%;
  color: white;    
}
[data-dobra="destaque-scroll-7"] .col{
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 2em 0;
}
[data-dobra="destaque-scroll-7"] .right{ text-align: right; }
[data-dobra="destaque-scroll-7"] .center{ text-align: center; }
[data-dobra="destaque-scroll-7"] .last{
  margin-bottom: 0;
  display: grid;
  place-items: center;
}
[data-dobra="destaque-scroll-7"] .last > *{
  grid-area: 1 / 1;
}
[data-dobra="destaque-scroll-7"] .last h2{
  color: black;
}
[data-dobra="destaque-scroll-7"] h1{
  font-size: 8vh;
  margin: 0;
  opacity: 0;
}
[data-dobra="destaque-scroll-7"] h2{
  font-size: 6vh;
  margin: 47vh 0;  
  opacity: 0;  
}
[data-dobra="destaque-scroll-7"] p{
  font-size: 3vh;
  margin: 0;
  opacity: 0;  
}
[data-dobra="destaque-scroll-7"] img{ 
  opacity: 0;
  margin: 2em 0;
  width: 100%;
}
[data-dobra="destaque-scroll-7"] .col > img{
  max-width: 40%;
  margin: 0;  
}



