[data-dobra="cursor-aetherflow-trail-simulator"] *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
[data-dobra="cursor-aetherflow-trail-simulator"],[data-dobra="cursor-aetherflow-trail-simulator"]{
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: var(--acento);
            user-select: none;
            -webkit-user-select: none;
        }
[data-dobra="cursor-aetherflow-trail-simulator"] #canvas-webgl{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            touch-action: none;
            z-index: 0;
        }

    
