[data-dobra="destaque-scroll-33"] *{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
[data-dobra="destaque-scroll-33"]{
  --base-100: var(--base-100);
  --base-200: var(--base-100);
  --base-300: var(--base-600);
}
[data-dobra="destaque-scroll-33"] *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[data-dobra="destaque-scroll-33"]{
  background-color: var(--base-100);
  color: var(--base-300);
  font-family: var(--fonte-corpo);
}
[data-dobra="destaque-scroll-33"] h1,[data-dobra="destaque-scroll-33"] h2{
  font-weight: 500;
  line-height: 1.1;
}
[data-dobra="destaque-scroll-33"] h1{
  font-size: 64px;
  letter-spacing: -1.6px;
}
[data-dobra="destaque-scroll-33"] h2{
  font-size: 40px;
  letter-spacing: -1.2px;
}
[data-dobra="destaque-scroll-33"] p{
  font-size: 18px;
  font-weight: 500;
}
[data-dobra="destaque-scroll-33"] img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
[data-dobra="destaque-scroll-33"] .hero,[data-dobra="destaque-scroll-33"] .outro{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100svh;
  padding: 32px;
  background-color: var(--base-200);
}
[data-dobra="destaque-scroll-33"] .hero h1,[data-dobra="destaque-scroll-33"] .outro h1{
  width: 60%;
  text-align: center;
}
[data-dobra="destaque-scroll-33"] .spotlight{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 32px;
  gap: 160px;
}
[data-dobra="destaque-scroll-33"] .spotlight .row{
  display: flex;
  justify-content: center;
  gap: 32px;
}
[data-dobra="destaque-scroll-33"] .spotlight .row .col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
[data-dobra="destaque-scroll-33"] .spotlight .row:nth-child(1) .img,[data-dobra="destaque-scroll-33"] .spotlight .row:nth-child(4) .img{
  width: 50%;
}
[data-dobra="destaque-scroll-33"] .spotlight .card{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  padding: 48px;
  gap: 16px;
  border-radius: 16px;
  background-color: var(--base-200);
}
[data-dobra="destaque-scroll-33"] .spotlight .svg-path{
  position: absolute;
  top: 25svh;
  left: 50%;
  z-index: -1;
  width: 90%;
  height: 100%;
  transform: translateX(-50%);
}
[data-dobra="destaque-scroll-33"] .spotlight .svg-path svg{
  width: 100%;
  height: auto;
}
@media (max-width: 1000px){[data-dobra="destaque-scroll-33"] h1,[data-dobra="destaque-scroll-33"] h2{
    letter-spacing: 0;
  }
[data-dobra="destaque-scroll-33"] h1{
    font-size: 32px;
  }
[data-dobra="destaque-scroll-33"] h2{
    font-size: 24px;
  }
[data-dobra="destaque-scroll-33"] p{
    font-size: 16px;
  }
[data-dobra="destaque-scroll-33"] .hero h1,[data-dobra="destaque-scroll-33"] .outro h1{
    width: 100%;
  }
[data-dobra="destaque-scroll-33"] .spotlight{
    gap: 80px;
  }
[data-dobra="destaque-scroll-33"] .spotlight .row{
    flex-direction: column;
  }
[data-dobra="destaque-scroll-33"] .spotlight .row:nth-child(1) .img,[data-dobra="destaque-scroll-33"] .spotlight .row:nth-child(4) .img{
    width: 100%;
  }
[data-dobra="destaque-scroll-33"] .spotlight .card{
    width: 100%;
  }
[data-dobra="destaque-scroll-33"] .spotlight .svg-path{
    top: 15svh;
    width: 275%;
  }

}

