[data-dobra="destaque-scroll-47"] 1&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[data-dobra="destaque-scroll-47"]{
  font-family: var(--fonte-corpo);
}
[data-dobra="destaque-scroll-47"] img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
[data-dobra="destaque-scroll-47"] h1{
  font-size: clamp(2rem, 10vw, 5rem);
  font-weight: 500;
  letter-spacing: -0.1rem;
  line-height: 0.9;
}
[data-dobra="destaque-scroll-47"] section{
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 1rem;
  align-content: center;
  overflow: hidden;
}
[data-dobra="destaque-scroll-47"] section h1{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: var(--base-600);
}
[data-dobra="destaque-scroll-47"] .intro,[data-dobra="destaque-scroll-47"] .outro{
  background-color: var(--base-100);
}
[data-dobra="destaque-scroll-47"] .spotlight{
  background-color: var(--base-100);
}
[data-dobra="destaque-scroll-47"] .spotlight-images{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
[data-dobra="destaque-scroll-47"] .spotlight-img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: clamp(20rem, 25vw, 40rem);
  aspect-ratio: 7/5;
  border-radius: 0.5rem;
  transform: translate(-50%, 200%);
  will-change: transform;
  overflow: hidden;
}
@media (max-width: 1000px){[data-dobra="destaque-scroll-47"] section h1{
    width: 100%;
  }

}


