[data-dobra="destaque-anim-shape-overlays-animation"]{
      margin: 0;
      padding: 0;
      background: white;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: var(--base-500);
      font-family: var(--fonte-corpo);
    }
[data-dobra="destaque-anim-shape-overlays-animation"] .shape-overlays{
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      cursor: pointer;
      z-index: 10;
    }
[data-dobra="destaque-anim-shape-overlays-animation"] .content{
      text-align: center;
      z-index: 1;
      pointer-events: none; 
    }
[data-dobra="destaque-anim-shape-overlays-animation"] h1{
      font-size: 3rem;
      margin-bottom: 10px;
      color: var(--acento);
    }
[data-dobra="destaque-anim-shape-overlays-animation"] p{
      color: var(--base-300);
      font-size: 1.2rem;
    }

  
