[data-dobra="transicao-transicao-pagina-16"]{
  --bg: var(--base-100);
  --fg: var(--base-600);
  --transition-stroke-1: var(--base-100);
  --transition-stroke-2: var(--acento);
}
[data-dobra="transicao-transicao-pagina-16"] *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[data-dobra="transicao-transicao-pagina-16"],[data-dobra="transicao-transicao-pagina-16"]{
  background-color: var(--bg);
  color: var(--fg);
}
[data-dobra="transicao-transicao-pagina-16"] .navbar{
  position: fixed;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
[data-dobra="transicao-transicao-pagina-16"] .navbar-logo a{
  text-decoration: none;
  color: var(--fg);
  font-family: var(--fonte-corpo);
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  padding: 1rem;
  display: inline-block;
}
[data-dobra="transicao-transicao-pagina-16"] .navbar-items{
  display: flex;
  gap: clamp(1rem, 4vw, 2rem);
  list-style: none;
}
[data-dobra="transicao-transicao-pagina-16"] .navbar-item{
  padding: 1rem;
}
[data-dobra="transicao-transicao-pagina-16"] .navbar-item a{
  text-decoration: none;
  color: var(--fg);
  font-family: var(--fonte-corpo);
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.02em;
}
[data-dobra="transicao-transicao-pagina-16"] .hero{
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
[data-dobra="transicao-transicao-pagina-16"] .hero h1{
  text-transform: uppercase;
  font-family: var(--fonte-corpo);
  font-size: clamp(5rem, 15vw, 20rem);
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: 1;
}
[data-dobra="transicao-transicao-pagina-16"] .transition-svg{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
}
[data-dobra="transicao-transicao-pagina-16"] .transition-svg svg{
  width: 100%;
  height: 100%;
}
[data-dobra="transicao-transicao-pagina-16"] .transition-svg path{
  stroke-dashoffset: 99999;
  stroke-dasharray: 99999;
}


