[data-dobra="destaque-focus-form-animation"] *{ box-sizing: border-box; }
[data-dobra="destaque-focus-form-animation"]{
      --focus-head-color: hsl(218deg 92% 57%);
      --focus-tail-color: hsl(218deg 92% 50%);
    }
[data-dobra="destaque-focus-form-animation"],[data-dobra="destaque-focus-form-animation"]{
      font-size: 20px;
      height: 100%;
      margin: 0;
      background-color: var(--base-100);
      font-family: var(--fonte-corpo);
    }
[data-dobra="destaque-focus-form-animation"] .form-wrapper{
      position: relative;
      display: grid;
      height: 100%;
      margin: 0;
      place-items: center;
      max-width: 100%;
      padding: 2.5rem;
    }
[data-dobra="destaque-focus-form-animation"] form{
      margin: auto;
      width: 100%;
      max-width: 400px;
    }
[data-dobra="destaque-focus-form-animation"] h1{
      font-size: 2rem;
      font-weight: 700;
      margin: 0 0 0.5rem 0;
    }
[data-dobra="destaque-focus-form-animation"] h3{
      font-size: 1rem;
      font-weight: 400;
      margin: 0 0 2rem 0;
    }
[data-dobra="destaque-focus-form-animation"] a{
      color: var(--focus-head-color);
      text-decoration: none;
    }
[data-dobra="destaque-focus-form-animation"] label{
      color: var(--base-400);
    }
[data-dobra="destaque-focus-form-animation"] input[type="text"],[data-dobra="destaque-focus-form-animation"] input[type="email"],[data-dobra="destaque-focus-form-animation"] input[type="password"]{
      display: block;
      width: 100%;
      margin: 0.5rem 0 1rem 0;
      padding: 0.5rem;
      font-size: 1rem;
      border: 0;
      border-radius: 0.125rem 0.25rem;
      background-color: hsl(222, 20%, 95%);
    }
[data-dobra="destaque-focus-form-animation"] .checkbox{
      margin: 0.5rem 0;
    }
[data-dobra="destaque-focus-form-animation"] input[type="checkbox"]{
      margin-right: 0.5rem;
    }
[data-dobra="destaque-focus-form-animation"] button{
      display: block;
      padding: 0.5rem 1rem;
      border: 0;
      border-radius: 0.125rem 0.25rem;
      background-color: var(--focus-head-color);
      color: var(--base-100);
      margin: 2rem 0 0 auto;
      cursor: pointer;
    }
[data-dobra="destaque-focus-form-animation"] input:focus,[data-dobra="destaque-focus-form-animation"] button:focus{
      outline: 0;
    }
[data-dobra="destaque-focus-form-animation"] canvas{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none;
    }

  
