[data-dobra="transicao-transicao-pagina-4"] *,[data-dobra="transicao-transicao-pagina-4"] *::after,[data-dobra="transicao-transicao-pagina-4"] *::before{
	box-sizing: border-box;
}
[data-dobra="transicao-transicao-pagina-4"]{
	font-size: 12px;
}
[data-dobra="transicao-transicao-pagina-4"]{
	margin: 0;
	overflow: hidden;
	--color-text: var(--base-100);
    --color-gr-1: var(--base-100);
    --color-gr-2: var(--acento);
    --color-bg: var(--base-500);
    --color-link: var(--base-300);
	--color-link-hover: var(--base-200);
	--padding-ver: 1.5rem;
	--padding-hor: 1.5rem;
	--color-bg-overlay: var(--base-600);
	--color-back: var(--base-300);
	--color-back-hover: var(--base-200);
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: var(--fonte-corpo);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[data-dobra="transicao-transicao-pagina-4"] .demo-2{
	--color-text: var(--base-600);
	--color-gr-1: var(--base-100);
	--color-gr-2: var(--base-300);
	--color-bg: var(--base-100);
	--color-link: var(--base-300);
    --color-link-hover: var(--base-300);
    --color-back: var(--base-300);
	--color-back-hover: var(--base-300);
    --color-bg-overlay: rgb(37, 116, 66);
}
[data-dobra="transicao-transicao-pagina-4"] .demo-3{
	--color-text: var(--base-100);
	--color-gr-1: var(--base-100);
	--color-gr-2: var(--base-300);
	--color-bg: var(--base-600);
	--color-link: var(--base-200);
    --color-link-hover: var(--base-300);
    --color-back: var(--base-300);
	--color-back-hover: var(--base-300);
    --color-bg-overlay: rgb(223, 107, 71);
}
[data-dobra="transicao-transicao-pagina-4"] .demo-4{
	--color-text: var(--base-600);
    --color-gr-1: var(--base-200);
    --color-gr-2: var(--base-300);
    --color-bg: var(--base-300);
    --color-link: var(--base-100);
    --color-link-hover: var(--base-200);
    --color-back: var(--base-100);
	--color-back-hover: var(--base-200);
}
[data-dobra="transicao-transicao-pagina-4"] .demo-5{
	--color-text: var(--base-600);
    --color-gr-1: var(--base-200);
    --color-gr-2: var(--base-400);
    --color-bg: var(--base-500);
    --color-link: var(--base-200);
    --color-link-hover: var(--base-300);
    --color-back: var(--base-200);
	--color-back-hover: var(--base-300);
    --color-bg-overlay: rgb(20 21 19);
}
[data-dobra="transicao-transicao-pagina-4"] .demo-6{
	--color-text: var(--base-600);
    --color-gr-1: var(--base-600);
    --color-gr-2: var(--base-600);
    --color-bg: var(--base-300);
    --color-link: var(--base-200);
    --color-link-hover: var(--base-600);
    --color-back: var(--base-200);
	--color-back-hover: var(--base-600);
    --color-bg-overlay: rgb(84 87 84);
}
[data-dobra="transicao-transicao-pagina-4"] .js .loading::before,[data-dobra="transicao-transicao-pagina-4"] .js .loading::after{
	content: '';
	position: fixed;
	z-index: 1000;
}
[data-dobra="transicao-transicao-pagina-4"] .js .loading::before{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}
[data-dobra="transicao-transicao-pagina-4"] .js .loading::after{
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	border-radius: 50%;
	border: 2px solid var(--color-gr-2);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}
@keyframes loaderAnim{
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}
[data-dobra="transicao-transicao-pagina-4"] a{
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}
[data-dobra="transicao-transicao-pagina-4"] a:hover{
	color: var(--color-link-hover);
	outline: none;
}
[data-dobra="transicao-transicao-pagina-4"] a:focus{
	
	outline: none;
	background: lightgrey;
}
[data-dobra="transicao-transicao-pagina-4"] a:focus:not(:focus-visible){
	
	background: transparent;
}
[data-dobra="transicao-transicao-pagina-4"] a:focus-visible{
	
	outline: 2px solid red;
	background: transparent;
}
[data-dobra="transicao-transicao-pagina-4"] .hover-line,[data-dobra="transicao-transicao-pagina-4"] a.cda-sponsor-link{
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}
[data-dobra="transicao-transicao-pagina-4"] .hover-line::before,[data-dobra="transicao-transicao-pagina-4"] .cda-sponsor-link::before{
	content: '';
	height: 1px;
	width: 100%;
	background: currentColor;
	position: absolute;
	top: 92%;
	transition: transform 0.3s;
	transform-origin: 0% 50%;
}
[data-dobra="transicao-transicao-pagina-4"] .hover-line:hover::before,[data-dobra="transicao-transicao-pagina-4"] .cda-sponsor-link:hover::before{
	transform: scaleX(0);
	transform-origin: 100% 50%;
}
[data-dobra="transicao-transicao-pagina-4"] .unbutton{
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}
[data-dobra="transicao-transicao-pagina-4"] .unbutton:focus{
	outline: none;
}
[data-dobra="transicao-transicao-pagina-4"] .hidden{
	opacity: 0;
	pointer-events: none;
	position: absolute;
}
[data-dobra="transicao-transicao-pagina-4"] main{
	display: grid;
	height: 100vh;
	padding: 0;
	position: relative;
}
[data-dobra="transicao-transicao-pagina-4"] .frame{
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
	display: flex;
	padding: var(--padding-hor) calc(var(--padding-ver) + 0.6vw);
	flex-wrap: wrap;
	align-self: start;
	position: relative;
	z-index: 100;
	grid-column-gap: 5vw;
	grid-row-gap: 1rem;
	font-weight: 600;
	background: linear-gradient(to bottom, var(--color-bg), transparent);
}
[data-dobra="transicao-transicao-pagina-4"] .frame__title{
	font-size: inherit;
	margin: 0;
	font-weight: inherit;
}
[data-dobra="transicao-transicao-pagina-4"] .frame__links{
	display: flex;
	gap: 1rem;
}
[data-dobra="transicao-transicao-pagina-4"] .frame__demos{
	display: flex;
	gap: 1rem;
}
[data-dobra="transicao-transicao-pagina-4"] .intro,[data-dobra="transicao-transicao-pagina-4"] .content-wrap{
	position: relative;
	grid-area: 1 / 1 / 2 / 2;
}
[data-dobra="transicao-transicao-pagina-4"] .intro{
	flex: 1;
	max-height: 80vmax;
	margin: auto 0;
	padding: 0 var(--padding-ver);
	font-size: 9vw;
	line-height: 1;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	column-gap: 2vw;
	row-gap: 1vw;
	white-space: nowrap;
	font-family: var(--fonte-corpo);
	font-variation-settings: "wdth" 120, "wght" 300;
	background-color: var(--color-text);
	background-image: linear-gradient(45deg, var(--color-gr-1), var(--color-gr-2));
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	will-change: transform, opacity;
}
[data-dobra="transicao-transicao-pagina-4"] .intro--closed{
	opacity: 0;
	pointer-events: none;
}
[data-dobra="transicao-transicao-pagina-4"] .font-1{
	font-variation-settings: "wdth" 75, "wght" 100;
}
[data-dobra="transicao-transicao-pagina-4"] .font-2{
	font-variation-settings: "wdth" 120, "wght" 800;
}
[data-dobra="transicao-transicao-pagina-4"] .font-3{
	font-variation-settings: "wdth" 120, "wght" 400;
}
[data-dobra="transicao-transicao-pagina-4"] .intro__text{
	line-height: 0.6;
    padding-top: 2vw;
}
[data-dobra="transicao-transicao-pagina-4"] .intro__image{
	flex: 1;
	position: relative;
	cursor: pointer;
	will-change: transform;
	background-size: cover;
	background-position: 50% 30%;
	border-radius: 5vw;
	min-width: 50px;
	max-width: 100px;
	transition: opacity 0.3s;
}
[data-dobra="transicao-transicao-pagina-4"] .intro__image:hover{
 	opacity: 0.8;
}
[data-dobra="transicao-transicao-pagina-4"] .content-wrap{
	align-self: stretch;
	display: grid;
	pointer-events: none;
}
[data-dobra="transicao-transicao-pagina-4"] .content{
	opacity: 0;
	pointer-events: none;
	grid-area: 1 / 1 / -1 / -1;
	display: grid;
	grid-template-columns: 100%;
	height: 100%;
	grid-template-rows: 70% 1fr;
	gap: 5vh;
	padding: 8rem var(--padding-ver) 2rem;
}
[data-dobra="transicao-transicao-pagina-4"] .content--open{
	opacity: 1;
	pointer-events: auto;
}
[data-dobra="transicao-transicao-pagina-4"] .content__img{
	position: relative;
	overflow: hidden;
	border-radius: 1.85rem;
	display: grid;
	will-change: transform, opacity;
}
[data-dobra="transicao-transicao-pagina-4"] .content__img-inner{
	background-size: cover;
	background-position: 50% 20%;
}
[data-dobra="transicao-transicao-pagina-4"] .content__text{
	display: grid;
	grid-template-areas: 
		'back number title' 
		'... ... title'
		'meta meta meta';
	grid-column-gap: 2rem;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
}
[data-dobra="transicao-transicao-pagina-4"] .content__title{
	font-variation-settings: "wdth" 120, "wght" 100;
	grid-area: title;
	margin: 0;
	font-family: var(--fonte-corpo);
	font-size: clamp(2rem, 6vw, 5rem);
	background-color: var(--color-text);
	background-image: linear-gradient(45deg, var(--color-gr-1), var(--color-gr-2));
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	line-height: 1;
	max-width: 15ch;
	text-align: right;
}
[data-dobra="transicao-transicao-pagina-4"] .content__number{
	grid-area: number;
	line-height: 1;
	margin-top: -1vw;
	align-self: start;
	font-size: clamp(3rem, 6vw, 10rem);
	background-color: var(--color-text);
	background-image: linear-gradient(45deg, var(--color-gr-1), var(--color-gr-2));
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	position: relative;
}
[data-dobra="transicao-transicao-pagina-4"] .content__back{
	grid-area: back;
	overflow: hidden;
	align-self: center;
}
[data-dobra="transicao-transicao-pagina-4"] .content__back svg{
	width: 4vw;
	height: 4.85vw;
	fill: var(--color-back);
	transition: fill 0.2s;
}
[data-dobra="transicao-transicao-pagina-4"] .content__back:hover svg{
	fill: var(--color-back-hover);
}
[data-dobra="transicao-transicao-pagina-4"] .content__meta{
	grid-area: meta;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	font-size: clamp(0.75rem, 3vw, 1.5rem);
	line-height: 1;
}
[data-dobra="transicao-transicao-pagina-4"] .overlay{
	grid-area: 1 / 1 / -1 / -1;
	display: grid;
	position: relative;
	z-index: 1000;
	pointer-events: none;
	opacity: 0;
	--columns: 20;
	grid-template-columns: repeat(var(--columns),1fr);
}
[data-dobra="transicao-transicao-pagina-4"] .overlay div{
	background: var(--color-bg-overlay);
}
@media screen and (min-width: 53em){[data-dobra="transicao-transicao-pagina-4"] .intro__image{
		min-width: 200px;
		max-width: 30%;
	}
[data-dobra="transicao-transicao-pagina-4"] .content{
		padding-top: 5rem;
	}

}




