[data-dobra="destaque-anim-hover-14"] 0,[data-dobra="destaque-anim-hover-14"] 400;0,[data-dobra="destaque-anim-hover-14"] 500;1,[data-dobra="destaque-anim-hover-14"] 300;1,[data-dobra="destaque-anim-hover-14"] 400;1,[data-dobra="destaque-anim-hover-14"] 500&family=Inter:ital,[data-dobra="destaque-anim-hover-14"] opsz,[data-dobra="destaque-anim-hover-14"] wght@0,[data-dobra="destaque-anim-hover-14"] 14..32,[data-dobra="destaque-anim-hover-14"] 100..900;1,[data-dobra="destaque-anim-hover-14"] 14..32,[data-dobra="destaque-anim-hover-14"] 100..900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[data-dobra="destaque-anim-hover-14"] h1{
  text-transform: uppercase;
  font-family: var(--fonte-corpo);
  font-weight: 900;
  font-size: clamp(3rem, 10vw, 15rem);
  line-height: 0.9;
  letter-spacing: -4%;
}
[data-dobra="destaque-anim-hover-14"] a{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--fonte-mono);
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--base-600);
}
[data-dobra="destaque-anim-hover-14"] nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  z-index: 2;
}
[data-dobra="destaque-anim-hover-14"] .nav-logo a{
  text-transform: uppercase;
  font-family: var(--fonte-corpo);
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: -2%;
}
[data-dobra="destaque-anim-hover-14"] .nav-links{
  display: flex;
  gap: 4rem;
}
[data-dobra="destaque-anim-hover-14"] .hero{
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  background-color: var(--base-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
[data-dobra="destaque-anim-hover-14"] .hero .header{
  display: flex;
  flex-direction: column;
}
[data-dobra="destaque-anim-hover-14"] .hero h1:nth-child(2){
  align-self: flex-end;
}
[data-dobra="destaque-anim-hover-14"] .hero h1:nth-child(3){
  align-self: center;
}
[data-dobra="destaque-anim-hover-14"] #fluid{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
  mix-blend-mode: difference;
}
@media (max-width: 1000px){[data-dobra="destaque-anim-hover-14"] .nav-links{
    align-items: flex-end;
    flex-direction: column;
    gap: 0;
  }
[data-dobra="destaque-anim-hover-14"] .hero h1{
    align-self: center;
    text-align: center;
  }

}


