[data-dobra="hero-hero-25"] *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[data-dobra="hero-hero-25"],[data-dobra="hero-hero-25"]{
    width: 100%;
    height: 100%;
}
[data-dobra="hero-hero-25"] #loader{
    height: 100dvh;
    width: 100%;
    position: fixed;
    inset: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    transition: opacity 0.5s ease-in-out;

    p{
        position: relative;
        z-index: 2;
        color: white;
        cursor: pointer;
        font-family: var(--fonte-corpo);
    }
}
[data-dobra="hero-hero-25"] canvas{
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
[data-dobra="hero-hero-25"] .hero{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 6vw;
        font-family: var(--fonte-corpo);
    }
}

