[data-dobra="destaque-scroll-27"] *,[data-dobra="destaque-scroll-27"] *::after,[data-dobra="destaque-scroll-27"] *::before{
	box-sizing: border-box;
}
[data-dobra="destaque-scroll-27"]{
	font-size: 17px;
}
[data-dobra="destaque-scroll-27"]{
	margin: 0;
	--color-text: var(--base-100);
	--color-bg: var(--acento);
	--color-link: var(--base-400);
	--color-link-hover: var(--base-100);
	--color-description: var(--base-400);
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: var(--fonte-corpo);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[data-dobra="destaque-scroll-27"] main{
	width: 100%;
	overflow: hidden;
	position: relative;
}
[data-dobra="destaque-scroll-27"] .js .loading::before,[data-dobra="destaque-scroll-27"] .js .loading::after{
	content: '';
	position: fixed;
	z-index: 1000;
}
[data-dobra="destaque-scroll-27"] .js .loading::before{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}
[data-dobra="destaque-scroll-27"] .js .loading::after{
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}
@keyframes loaderAnim{
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}
[data-dobra="destaque-scroll-27"] a{
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}
[data-dobra="destaque-scroll-27"] a:hover,[data-dobra="destaque-scroll-27"] a:focus{
	color: var(--color-link-hover);
	outline: none;
}
[data-dobra="destaque-scroll-27"] .hidden{
	position: absolute;
	pointer-events: none;
	width: 0;
	height: 0;
	overflow: hidden;
}
[data-dobra="destaque-scroll-27"] .frame{
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
	text-transform: uppercase;
}
[data-dobra="destaque-scroll-27"] .frame__title{
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}
[data-dobra="destaque-scroll-27"] .frame__links{
	display: inline;
}
[data-dobra="destaque-scroll-27"] .frame__links a:not(:last-child){
	margin-right: 1rem;
}
[data-dobra="destaque-scroll-27"] .frame__heading{
	margin: 1rem 0;
	font-size: 1rem;
	font-weight: 400;
}
[data-dobra="destaque-scroll-27"] .frame__counter{
	margin: 2rem 0;
	align-items: baseline;
	line-height: 0.8rem;
	text-align: center;
}
[data-dobra="destaque-scroll-27"] .frame__counter span{
	margin: 0 0.25rem;
}
[data-dobra="destaque-scroll-27"] .frame__counter-text:nth-child(2){
	margin: 0 1.5rem 0 0;
}
[data-dobra="destaque-scroll-27"] .frame__counter-number{
	font-size: 200%;
}
[data-dobra="destaque-scroll-27"] .intro{
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
[data-dobra="destaque-scroll-27"] .intro__title{
	font-size: 19vw;
	margin: 0;
	font-weight: 400;
	line-height: 1;
}
[data-dobra="destaque-scroll-27"] .intro__hint{
	position: relative;
	text-transform: uppercase;
	margin: 8vh 0 0 0;
}
[data-dobra="destaque-scroll-27"] .intro__hint::after{
	content: '';
	position: absolute;
	width: 1px;
	height: 2rem;
	top: calc(100% + 2rem);
	left: 50%;
	background-color: currentColor;
}
[data-dobra="destaque-scroll-27"] .grid-wrap{
	position: relative;
}
[data-dobra="destaque-scroll-27"] .grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, calc(390px + 3rem)));
	justify-content: center;
	grid-gap: 10vw;
	margin: 15rem auto;
}
[data-dobra="destaque-scroll-27"] .grid__item{
	padding: 1.5rem;
}
[data-dobra="destaque-scroll-27"] .grid__item-number{
	display: block;
	text-align: right;
	font-size: 3rem;
	line-height: 1;
}
[data-dobra="destaque-scroll-27"] .grid__item-img{
	margin: 1rem 0 1.75rem;
	max-width: 100%;
	display: block;
}
[data-dobra="destaque-scroll-27"] .grid__item-title{
	font-size: 1.25rem;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 2.75rem 0;
}
[data-dobra="destaque-scroll-27"] .grid__item-description{
	color: var(--color-description);
	font-family: var(--fonte-corpo);
	line-height: 1.5;
	padding-right: 1rem;
}
[data-dobra="destaque-scroll-27"] .bigimg{
	display: block;
	width: 100%;
	max-width: calc(1025px - 3rem);
	margin: 25vh auto;
}
[data-dobra="destaque-scroll-27"] .svgtext{
	flex: none;
	position: relative;
	left: -10%;
}
[data-dobra="destaque-scroll-27"] .svgtext text{
	fill: var(--base-100);
	font-size: 42px;
}
[data-dobra="destaque-scroll-27"] .svgtext--1 text{
	fill: var(--base-100);
}
[data-dobra="destaque-scroll-27"] .svgtext--2 text{
	fill: var(--base-300);
}
[data-dobra="destaque-scroll-27"] .svgtext--3 text{
	font-size: 32px;
}
[data-dobra="destaque-scroll-27"] .svgtext--4{
	position: absolute;
}
[data-dobra="destaque-scroll-27"] .svgtext--4 text{
	font-size: 48px;
	fill: var(--base-100);
}
@media screen and (min-width: 53em){[data-dobra="destaque-scroll-27"] .frame--screen{
		position: absolute;
		text-align: left;
		z-index: 100;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2.25rem 2.5rem;
		pointer-events: none;
		grid-template-columns: 30% 40% 30%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'heading counter links'
							'... ... ...'
							'title title ...';
	}
[data-dobra="destaque-scroll-27"] .frame__title-wrap{
		grid-area: title;
		display: flex;
	}
[data-dobra="destaque-scroll-27"] .frame__title{
		margin: 0 4rem 0 0;
	}
[data-dobra="destaque-scroll-27"] .frame__counter{
		grid-area: counter;
		justify-self: center;
	}
[data-dobra="destaque-scroll-27"] .frame__heading{
		margin: 0;
		grid-area: heading;
	}
[data-dobra="destaque-scroll-27"] .frame__demos{
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
[data-dobra="destaque-scroll-27"] .frame__links{
		padding: 0;
		justify-self: end;
	}
[data-dobra="destaque-scroll-27"] .frame__links--header{
		grid-area: links;
	}
[data-dobra="destaque-scroll-27"] .frame a{
		pointer-events: auto;
	}
[data-dobra="destaque-scroll-27"] .frame__counter{
		display: flex;
		margin: 0;
	}
[data-dobra="destaque-scroll-27"] .intro{
		min-height: 100vh;
	}
[data-dobra="destaque-scroll-27"] .grid__item:nth-child(even){
		margin-top: 35vh;
		text-align: right;
	}
[data-dobra="destaque-scroll-27"] .grid__item:nth-child(even) .grid__item-description{
		padding: 0 0 0 1rem;
	}
[data-dobra="destaque-scroll-27"] .grid__item-number{
		font-size: 4.75rem;
	}

}


