[data-dobra="destaque-animacoes-svg-11"] *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[data-dobra="destaque-animacoes-svg-11"] h1,[data-dobra="destaque-animacoes-svg-11"] h3{
  text-transform: uppercase;
  font-family: var(--fonte-corpo);
  line-height: 0.9;
}
[data-dobra="destaque-animacoes-svg-11"] h1{
  font-size: clamp(5rem, 22.5vw, 30rem);
}
[data-dobra="destaque-animacoes-svg-11"] h3{
  font-size: clamp(3rem, 5vw, 6rem);
}
[data-dobra="destaque-animacoes-svg-11"] .hero{
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
[data-dobra="destaque-animacoes-svg-11"] .hero-content-background,[data-dobra="destaque-animacoes-svg-11"] .hero-content-foreground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  user-select: none;
}
[data-dobra="destaque-animacoes-svg-11"] .hero-content-foreground{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--base-500);
  color: var(--base-100);
}
[data-dobra="destaque-animacoes-svg-11"] .hero-content-background{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-100);
  color: var(--base-500);
  mask: url(#smudge-mask);
  -webkit-mask: url(#smudge-mask);
}
[data-dobra="destaque-animacoes-svg-11"] .smudge-revealer{
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}


