[data-dobra="destaque-inline-menu-layout"] *,[data-dobra="destaque-inline-menu-layout"] *::after,[data-dobra="destaque-inline-menu-layout"] *::before{
			box-sizing: border-box;
		}
[data-dobra="destaque-inline-menu-layout"]{
			font-size: 15px;
		}
[data-dobra="destaque-inline-menu-layout"]{
			margin: 0;
			--color-text: var(--base-600);
			--color-bg: var(--base-100);
			--color-link: var(--base-600);
			--color-link-hover: var(--base-600);
			--color-menuItem-hover: var(--acento);
			color: var(--color-text);
			background-color: var(--color-bg);
			font-family: var(--fonte-corpo);
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			--cursor-stroke: var(--base-600);
			--cursor-fill: none;
			--cursor-stroke-width: 1px;
		}
[data-dobra="destaque-inline-menu-layout"] .js .loading::before,[data-dobra="destaque-inline-menu-layout"] .js .loading::after{
			content: '';
			position: fixed;
			z-index: 1000;
		}
[data-dobra="destaque-inline-menu-layout"] .js .loading::before{
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--color-bg);
		}
[data-dobra="destaque-inline-menu-layout"] .js .loading::after{
			top: 50%;
			left: 50%;
			width: 60px;
			height: 60px;
			margin: -30px 0 0 -30px;
			border-radius: 50%;
			opacity: 0.4;
			background: var(--color-link);
			animation: loaderAnim 0.7s linear infinite alternate forwards;
		}
@keyframes loaderAnim{
			to {
				opacity: 1;
				transform: scale3d(0.5,0.5,1);
			}
		}
[data-dobra="destaque-inline-menu-layout"] a{
			text-decoration: none;
			color: var(--color-link);
			outline: none;
		}
[data-dobra="destaque-inline-menu-layout"] a:hover,[data-dobra="destaque-inline-menu-layout"] a:focus{
			color: var(--color-link-hover);
			outline: none;
		}
[data-dobra="destaque-inline-menu-layout"] main{
			min-height: 100vh;
			padding: 1.5rem 3rem;
			display: grid;
			grid-template-rows: auto 1fr auto;
			grid-auto-columns: 100%;
			grid-template-areas: 'header'
								 'content'
								 'footer';
			align-items: center;
			grid-row-gap: 6rem;
			overflow: hidden;
		}
[data-dobra="destaque-inline-menu-layout"] .frame{
			text-align: center;
			position: relative;
			z-index: 1000;
		}
[data-dobra="destaque-inline-menu-layout"] .frame--header{
			grid-area: header;
		}
[data-dobra="destaque-inline-menu-layout"] .frame--footer{
			grid-area: footer;
		}
[data-dobra="destaque-inline-menu-layout"] .frame a{
			text-decoration: underline;
		}
[data-dobra="destaque-inline-menu-layout"] .frame a:hover,[data-dobra="destaque-inline-menu-layout"] .frame a:focus{
			text-decoration: none;
		}
[data-dobra="destaque-inline-menu-layout"] .frame__title{
			font-size: 1rem;
			margin: 0 0 1rem;
			font-weight: normal;
			color: var(--acento);
		}
[data-dobra="destaque-inline-menu-layout"] .frame__links{
			display: inline;
		}
[data-dobra="destaque-inline-menu-layout"] .frame__links a:not(:last-child){
			margin-right: 1rem;
		}
[data-dobra="destaque-inline-menu-layout"] .frame__menu{
			font: inherit;
			background: none;
			border: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			cursor: not-allowed;
		}
[data-dobra="destaque-inline-menu-layout"] .menu{
			grid-area: content;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			justify-content: flex-start;
			align-content: center;
			max-width: 1050px;
		}
[data-dobra="destaque-inline-menu-layout"] .menu__item{
			font-family: var(--fonte-corpo);
			font-size: 5vw;
			font-size: clamp(2rem,8vw,4.75rem);
			text-transform: lowercase;
			line-height: 1;
			cursor: pointer;
			margin-right: 2rem;
			display: flex;
			align-items: flex-start;
			flex: none;
			position: relative;
		}
[data-dobra="destaque-inline-menu-layout"] .menu__item:hover,[data-dobra="destaque-inline-menu-layout"] .menu__item:focus{
			color: var(--color-menuItem-hover);
		}
[data-dobra="destaque-inline-menu-layout"] .menu__item-inner-wrap{
			overflow: hidden;
			position: relative;
		}
[data-dobra="destaque-inline-menu-layout"] .menu__item-inner{
			display: inline-block;
			margin-bottom: 1.5rem;
			will-change: transform, opacity;
		}
[data-dobra="destaque-inline-menu-layout"] .menu__item-number{
			font-size: 1.5vw;
			font-family: var(--fonte-corpo);
		}
[data-dobra="destaque-inline-menu-layout"] .hover-reveal{
			position: absolute;
			z-index: -1;
			width: 150px;
			height: 200px;
			top: 0;
			left: 0;
			pointer-events: none;
			opacity: 0;
			will-change: transform;
		}
[data-dobra="destaque-inline-menu-layout"] .hover-reveal__inner{
			overflow: hidden;
		}
[data-dobra="destaque-inline-menu-layout"] .hover-reveal__inner,[data-dobra="destaque-inline-menu-layout"] .hover-reveal__img{
			width: 100%;
			height: 100%;
			position: relative;
			will-change: transform;
		}
[data-dobra="destaque-inline-menu-layout"] .hover-reveal__img{
			background-size: cover;
			background-position: 50% 50%;
			transform-origin: 50% 100%;
		}
[data-dobra="destaque-inline-menu-layout"] .cursor{
			display: none;
		}
[data-dobra="destaque-inline-menu-layout"] .content-wrap{
			grid-area: content;
			position: relative;
		}
[data-dobra="destaque-inline-menu-layout"] .content{
			height: 0;
			overflow: hidden;
			position: absolute;
			opacity: 0;
			top: 0;
			pointer-events: none;
		}
[data-dobra="destaque-inline-menu-layout"] .content--current{
			height: auto;
			overflow: visible;
			position: relative;
			opacity: 1;
			pointer-events: auto;
		}
[data-dobra="destaque-inline-menu-layout"] .content__title{
			display: flex;
			align-items: flex-start;
			font-weight: normal;
			line-height: 1;
			margin: 30px 0 5vh 0;
		}
[data-dobra="destaque-inline-menu-layout"] .content__title-wrap{
			overflow: hidden;
			position: relative;
		}
[data-dobra="destaque-inline-menu-layout"] .content__title-inner{
			display: block;
			line-height: 1.3;
			font-family: var(--fonte-corpo);
			font-size: 5vw;
			font-size: clamp(3rem,9vw,6rem);
			text-transform: lowercase;
		}
[data-dobra="destaque-inline-menu-layout"] .content__title-number{
			margin-top: 1rem;
			font-size: 1.5vw;
			font-size: clamp(1rem,1.5vw,1.75rem);
			font-family: var(--fonte-corpo);
		}
[data-dobra="destaque-inline-menu-layout"] .gallery{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
			grid-gap: 2.5rem;
		}
[data-dobra="destaque-inline-menu-layout"] .gallery__item{
			flex: none;
			margin: 0;
		}
[data-dobra="destaque-inline-menu-layout"] .gallery__item-img{
			width: 100%;
			overflow: hidden;
			position: relative;
			will-change: transform;
		}
[data-dobra="destaque-inline-menu-layout"] .gallery__item-imginner{
			background-size: cover;
			background-position: 50% 0;
			width: 100%;
			padding-bottom: 151%;
			will-change: transform;
		}
[data-dobra="destaque-inline-menu-layout"] .gallery__item-caption{
			display: grid;
			grid-template-areas: 'caption-title caption-more' 'caption-meta caption-meta';
		}
[data-dobra="destaque-inline-menu-layout"] .gallery__item-title{
			line-height: 1;
			font-family: var(--fonte-corpo);
			font-size: 1.5rem;
			text-transform: lowercase;
			font-weight: normal;
			grid-area: caption-title;
			margin: 1rem 0;
		}
[data-dobra="destaque-inline-menu-layout"] .gallery__item-meta{
			margin: 0;
			grid-area: caption-meta;
		}
[data-dobra="destaque-inline-menu-layout"] .gallery__item-more{
			grid-area: caption-more;
			align-self: center;
			justify-self: end;
			-moz-appearance: none;
			-webkit-appearance: none;
			border: 0;
			padding: 0;
			margin: 0;
			background: none;
			cursor: pointer;
			position: relative;
		}
[data-dobra="destaque-inline-menu-layout"] .gallery__item-more::after{
			content: '';
			position: absolute;
			width: 300%;
			height: 200%;
			left: -100%;
			top: -50%;
		}
[data-dobra="destaque-inline-menu-layout"] .content__title-inner,[data-dobra="destaque-inline-menu-layout"] .content__title-number,[data-dobra="destaque-inline-menu-layout"] .gallery__item-imginner,[data-dobra="destaque-inline-menu-layout"] .gallery__item-title,[data-dobra="destaque-inline-menu-layout"] .gallery__item-meta,[data-dobra="destaque-inline-menu-layout"] .gallery__item-more{
			will-change: transform, opacity;
		}
[data-dobra="destaque-inline-menu-layout"] .gallery__item-more:focus,[data-dobra="destaque-inline-menu-layout"] .gallery__item-more:hover{
			opacity: 0.7;
			outline: none;
		}
[data-dobra="destaque-inline-menu-layout"] .back{
			position: absolute;
			background: none;
			border: 0;
			padding: 0;
			margin: 0;
			top: 0;
			left: 0;
			opacity: 0;
			pointer-events: none;
			fill: var(--base-200);
		}
[data-dobra="destaque-inline-menu-layout"] .back:hover,[data-dobra="destaque-inline-menu-layout"] .back:focus{
			fill: var(--color-menuItem-hover);
			outline: none;
		}
@media screen and (min-width: 53em){[data-dobra="destaque-inline-menu-layout"],[data-dobra="destaque-inline-menu-layout"]{
				height: 100vh;
				overflow: hidden;
			}
[data-dobra="destaque-inline-menu-layout"] main{
				grid-row-gap: 0;
			}
[data-dobra="destaque-inline-menu-layout"] .frame{
				text-align: left;
				display: grid;
				align-content: space-between;
				width: 100%;
				grid-template-columns: auto auto 1fr;
			}
[data-dobra="destaque-inline-menu-layout"] .frame--header{
				grid-template-areas: 'title links menu';
			}
[data-dobra="destaque-inline-menu-layout"] .frame--footer{
				grid-template-areas: 'author ... credits';
			}
[data-dobra="destaque-inline-menu-layout"] .frame__title{
				grid-area: title;
				margin: 0;
			}
[data-dobra="destaque-inline-menu-layout"] .frame__links{
				grid-area: links;
				padding: 0;
				margin-left: 10vw;
				justify-self: end;
			}
[data-dobra="destaque-inline-menu-layout"] .frame__author{
				align-self: end;
				grid-area: author;
			}
[data-dobra="destaque-inline-menu-layout"] .frame__menu{
				justify-self: end;
				align-self: start;
				grid-area: menu;
				display: inline-block;
			}
[data-dobra="destaque-inline-menu-layout"] .frame__credits{
				justify-self: end;
				grid-area: credits;
				color: var(--acento);
				margin: 0;
			}
[data-dobra="destaque-inline-menu-layout"] .hover-reveal{
				width: 300px;
				height: 400px;
			}
[data-dobra="destaque-inline-menu-layout"] .gallery{
				grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
				grid-auto-columns: 175px;
				grid-auto-flow: column;
				grid-template-rows: auto;
			}

		}
@media (any-pointer: fine){[data-dobra="destaque-inline-menu-layout"] .cursor{
				position: fixed;
				top: 0;
				left: 0;
				display: block;
				pointer-events: none;
				z-index: 9999;
			}
[data-dobra="destaque-inline-menu-layout"] .cursor__inner{
				fill: var(--cursor-fill);
				stroke: var(--cursor-stroke);
				stroke-width: var(--cursor-stroke-width);
				opacity: 1;
			}
[data-dobra="destaque-inline-menu-layout"] .no-js .cursor{
				display: none;
			}

		}

	
