@keyframes gradient-bg{
            0%, 100% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
        }
@keyframes shinery{
            0% { left: -20%; opacity: 0; }
            20% { opacity: 0.6; }
            48% { left: 140%; opacity: 0.6; }
            51%, 100% { left: 140%; opacity: 0; }
        }
@keyframes click-loop{
            0%, 100% { transform: scale(1); }
            50% { transform: scale(0.75); }
        }
[data-dobra="botao-alpha-button"] .animated-gradient{
            background: linear-gradient(-45deg, var(--base-100), var(--base-200), var(--acento), var(--base-200), var(--base-100));
            background-size: 400% 400%;
            animation: gradient-bg 5s infinite cubic-bezier(.62, .28, .23, .99) both;
        }
[data-dobra="botao-alpha-button"] .shimmer-effect{
            content: '';
            background: linear-gradient(100deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 80%);
            width: 100px;
            height: 200%;
            position: absolute;
            top: -50%;
            transform: translateX(-50%) skew(-25deg);
            pointer-events: none;
            user-select: none;
            mix-blend-mode: overlay;
            animation: shinery 4s infinite ease-in-out;
        }
[data-dobra="botao-alpha-button"] .group:hover .animate-click-icon{
            animation: click-loop 0.8s ease-in-out infinite;
        }

    
